<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre de Usuario</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Correo Electrónico</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <!-- Imagen de perfil -->
  <div class="profile-image-container">
    <img [src]="profileImage" alt="Profile Image" class="profile-image" />
  </div>
  <ion-button (click)="selectImage()">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>

  <!-- Input de tipo file para seleccionar una imagen -->
  <input type="file" id="imageInput" (change)="onImageSelected($event)" hidden>

  <ion-button expand="block" (click)="saveProfile()">Guardar Cambios</ion-button>
  <ion-button expand="block" (click)="goToHome()">Ir a Home</ion-button>
</ion-content>
