<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulthref="login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header.png"></ion-img>
  </ion-card>

  <ion-card-content>
    <div class="wrapform">
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input type="text" name="username" [(ngModel)]="username" placeholder="Username" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="text" name="email" [(ngModel)]="email" placeholder="Email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="password" name="password" placeholder="***************" [(ngModel)]="password" required></ion-input>
      </ion-item>

      <!-- Mostrar mensaje de error -->
      <ion-item *ngIf="errorMessage">
        <ion-label color="danger">{{ errorMessage }}</ion-label>
      </ion-item>

    </div>
    

    <div class="sign-btn-wrap">
      <ion-button shape="round" fill="solid" class="sign-btn" (click)="onLogin()">
        Crear Cuenta
      </ion-button>
    </div>

    <div class="text-tag">
      <span>O inicia sesión por estas redes</span>
    </div>

    <div class="social-btns">
      <ion-button fill="clear" class="googlebtn ion-no-padding">
        <ion-img src="assets/images/google.png"></ion-img>
      </ion-button>
      <ion-button fill="clear" class="facebookbtn ion-no-padding">
        <ion-img src="assets/images/facebook.png"></ion-img>
      </ion-button>
      <ion-button fill="clear" class="applekbtn ion-no-padding">
        <ion-img src="assets/images/apple.png"></ion-img>
      </ion-button>
    </div>
  </ion-card-content>

  