ion-header{
    position: absolute;
}
  
ion-toolbar{
  --ion-background-color: transparent;
  --opacity: 0;
}

ion-content{
  --ion-background-color:#E1EAF9;
}
  
.warpform{
    margin-top: 30px;
}

ion-item{
    ion-input{
        color:#647B9D;
    }
}

.password_forgot{
    text-align: right;
    ion-button{
        font-size: 12px;
    }
}

.sign-btn-wrap{
    text-align: center;
    padding-top: 30px;
    .sign-btn{
        --ion-primary-color:#215AB7;
        color:#F4F6FA;
    }
}

.text-tag{
    margin-top: 40px;
    text-align: center;
    span{
      font-size: 13px;
      font-weight: normal;
      color:#898585;
    }
}
  
.social-btns{
    margin-top: 30px;
    text-align: center;
    ion-button{
        width:40px;
        padding-left: 5px !important;
    }
}

ion-card{
    --ion-background-color:#E1EAF9 
}