<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>loginscreen</ion-title> -->
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulthref="login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header.png"></ion-img>

  </ion-card>

    <ion-card-content>
      <div class="wrapform">
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input type="text" name="email" [(ngModel)]="email" placeholder="Email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input type="password" name="password" placeholder="***************" [(ngModel)]="password" required></ion-input>
            </ion-item>
      </div>
       <div class="password_forgot">
          <ion-button fill="clear" class="ion-no-padding">Olvidó su contraseña?</ion-button>
       </div>
       <div class="sign-btn-wrap">
          <ion-button shape="round" fill="solid" class="sign-btn">Iniciar Sesión</ion-button>
         </div>
    
         <div class="text-tag">
         <span>O inicia sesión por estas redes</span>
         </div>

         <div class="social-btns">
             <ion-button fill="clear" class="googlebtn ion-no-padding">
           <ion-img src="assets/images/google.png"></ion-img>
             </ion-button>
             <ion-button fill="clear" class="facebookbtn ion-no-padding">
           <ion-img src="assets/images/facebook.png"></ion-img>
             </ion-button>   
             <ion-button fill="clear" class="applekbtn ion-no-padding">
           <ion-img src="assets/images/apple.png"></ion-img>
             </ion-button>   
    
           </div>
           
    </ion-card-content>
  



    <div class="ion-card-footer">

      <span>No tienes cuenta?</span><button class="ion-no-padding" >Crea una</button>

       </div>
 
</ion-content>
