<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <!-- Botón de login -->
      <ion-button (click)="goToLogin()">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>

      <!-- Botón de perfil -->
      <ion-button (click)="goToPerfil()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Welcome, {{ username }}!</h2> 
  
  <!-- Calendario Semanal con Ionic Grid -->
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let day of currentWeekDays; let i = index" [ngClass]="{'current-day': isToday(i)}" size="1">
        <div class="day-container">{{ day }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botón "Start Tracking" -->
  <ion-button expand="block" (click)="startTracking()">
    Start Tracking
  </ion-button>

  <!-- Formulario que se muestra cuando el seguimiento ha comenzado -->
  <div *ngIf="trackingStarted">
    <ion-item>
      <ion-label>Tracking started at:</ion-label>
      <ion-note>{{ trackingTime | date:'shortTime' }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Set Alarm</ion-label>
      <ion-input type="time" [(ngModel)]="alarmTime"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="saveAlarm()">
      Accept
    </ion-button>
  </div>
</ion-content>
