<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToLogin()">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Tu contenido aquí -->
  <!-- Calendario Semanal con Ionic Grid -->
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let day of currentWeekDays; let i = index" [ngClass]="{'current-day': isToday(i)}" size="1">
        <div class="day-container">{{ day }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botón "Start Tracking" -->
  <ion-button expand="block" (click)="startTracking()">
    Start Tracking
  </ion-button>
</ion-content>
